body{
    margin:0;
    font-family:Arial;
    display:flex;
    height:100vh;
    background:white;
}

.sidebar{
    width:250px;
    background:#f3f4f6;
    padding:20px;
    border-right:1px solid #ddd;
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

.top{
    padding:20px;
    border-bottom:1px solid #ddd;
}

.top h1{
    margin:0;
    font-size:40px;
}

.top p{
    color:gray;
}

.chat-area{
    flex:1;
    padding:20px;
    overflow-y:auto;
}

.message{
    padding:15px;
    border-radius:15px;
    margin-bottom:20px;
    max-width:700px;
}

.bot{
    background:#f3f4f6;
}

.user{
    background:#2563eb;
    color:white;
    margin-left:auto;
}

.input-area{
    display:flex;
    padding:20px;
    border-top:1px solid #ddd;
}

.input-area input{
    flex:1;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

.input-area button{
    width:60px;
    margin-left:10px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:20px;
}